<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru" data-bs-theme="auto">

<head th:replace="/admin/blocks/header::adminHead('Event Create')"></head>

<body>

<nav th:replace="/admin/blocks/navbar::navbar"></nav>

<!-- MAIN CONTENT -->
<div class="main-content">
    <div class="messages">
        <div class="alert alert notifs" role="alert"></div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <!-- Header -->
                <div class="header mb-0">
                    <div class="header-body top-scroller">
                        <div class="row align-items-center">
                            <div class="col">
                                <!-- Title -->
                                <h1 class="header-title text-truncate">
                                    Event Create
                                </h1>

                            </div>
                        </div> <!-- / .row -->
                    </div>
                    <div class="card mt-4">
                        <div class="card-body" style="padding: 20px;">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Main</a></li>
                                    <li class="breadcrumb-item"><a th:href="@{/admin/events/}">Events</a></li>
                                    <li class="breadcrumb-item active" aria-current="&quot;page&quot;">
                                        Events Create
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <!-- Content -->
                    <form role="form" class="row" method="post" enctype="multipart/form-data" th:action="@{/admin/events/create}" th:object="${event}">
                        <div class="col-12 col-xl-8">
                            <div class="card mt-3">
                                <div class="card-header p-4 pb-0">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation" th:each="lang : ${langs}">
                                            <button class="nav-link px-3 py-2 active" th:id="tab_ + ${ lang.code }" data-bs-toggle="tab"
                                                    th:data-bs-target="'#' + ${lang.code}" type="button" role="tab" th:aria-controls="${lang.code}"
                                                    aria-selected="false" th:text="${lang.name}" th:if='${lang.isDefault()}'></button>

                                            <button class="nav-link px-3 py-2" th:id="tab_ + ${ lang.code }" data-bs-toggle="tab"
                                                    th:data-bs-target="'#' + ${lang.code}" type="button" role="tab" th:aria-controls="${lang.code}"
                                                    aria-selected="true" th:text="${lang.name}" th:unless='${lang.isDefault()}'></button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body p-5">
                                    <div class="tab-content" id="myTabContent">
                                        <div class="" th:each="lang : ${langs}"
                                             th:attr="class=${lang.isDefault() ? 'tab-pane fade show active' : 'tab-pane fade'}"
                                             th:id="${lang.code}" role="tabpanel" th:aria-labelledby="${lang.code}">
                                            <div class="form-group">
                                                <!-- Label  -->
                                                <label class="form-label required">
                                                    Загловок
                                                </label>
                                                <br>
                                                <!-- Input -->
                                                <input
                                                        type="text"
                                                        class="form-control"
                                                        th:name="title[ + ${lang.code} + ]"
                                                        th:field="*{title[__${lang.code}__]}"
                                                >

                                                <div class="invalid-feedback" style="display: block;" th:if="${#fields.hasErrors('title') && lang.isDefault()}" th:errors="*{title}"></div>
                                            </div>

                                            <div class="form-group">
                                                <!-- Label  -->
                                                <label class="form-label required">
                                                    Подзаголовок
                                                </label>
                                                <br>
                                                <!-- Input -->
                                                <input type="text" class="form-control"
                                                       th:name="subtitle[ + ${lang.code} + ]"
                                                       th:field="*{subtitle[__${lang.code}__]}"
                                                >

                                                <div class="invalid-feedback" style="display: block;" th:if="${#fields.hasErrors('subtitle') && lang.isDefault()}" th:errors="*{subtitle}"></div>
                                            </div>

                                            <div class="form-group">
                                                <!-- Label -->
                                                <label class="form-label mb-1">
                                                    Текст
                                                </label>
                                                <br>
                                                <!-- Textarea -->
                                                <textarea class="editor" th:name="description[ + ${lang.code} + ]" placeholder="Text"></textarea>

                                                <div class="invalid-feedback" style="display: block;" th:if="${#fields.hasErrors('description') && lang.isDefault()}" th:errors="*{description}"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <!-- Label  -->
                                        <label class="form-label mb-1">
                                            Обложка статьи
                                        </label>

                                        <div class="dropzone dropzone-multiple border-0" data-max="100" data-delete="/api/files/delete"
                                             data-url="/api/files/upload" data-file-key="eventImages">
                                            <!-- Fallback -->
                                            <div class="dz-preview d-none"></div>
                                            <div class="fallback">
                                                <div class="custom-file">
                                                    <input type="file" name="file" class="form-control" id="customFileUploadMultiple">
                                                    <label class="form-label" for="customFileUploadMultiple">Choose file</label>
                                                </div>
                                            </div>

                                            <!-- Preview -->
                                            <div class="dz-preview-container" id="article-image" style="padding: 0;">
                                                <div class="dz-preview dz-processing dz-complete dz-image-preview" th:each="image : ${requestImages}">
                                                    <div class="dz-image">
                                                        <img data-dz-thumbnail="" alt="Img" th:src="${'/files/' + image}">
                                                    </div>
                                                    <div class="dz-details">
                                                        <div class="dz-filename"><span data-dz-name="">Image
                                                        </span></div>
                                                    </div>
                                                    <a class="dz-remove"
                                                       th:onclick="var result = confirm('Want to delete?');if (result){submit_form('delete-form-image- + ${image} + ')}"
                                                       data-dz-remove>Удалить</a>
                                                    <div th:action="@{/api/files/delete}" th:id="delete-form-image- + ${image}" method="post">
                                                        <input type="hidden" name="file" th:value="${image}">
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <!-- Dropzone -->
                                    </div>


                                    <div class="btn-box text-end">
                                        <a href="" class="btn w-30 btn-secondary">
                                            Отменить
                                        </a>
                                        <input type="submit" href="#" class="btn w-40 btn-primary" value="Сохранить">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                    <script>
                        for (let txt of document.querySelectorAll('.editor')) {
                            CKEDITOR.replace(txt)
                        }
                    </script>
                    <!-- Content End -->
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="/admin/blocks/scripts::scripts"></div>

</body>

</html>