<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru" data-bs-theme="auto">

<head th:replace="~{/admin/blocks/header::adminHead('Translations')}"></head>

<body>

<nav th:replace="~{/admin/blocks/navbar::navbar}"></nav>

<!-- MAIN CONTENT -->
<div class="main-content">
    <div class="messages">
        <div class="alert alert notifs" role="alert"></div>
    </div>
    <div class="container-fluid">
        <div class="messages"></div>
        <div class="row justify-content-center">
            <div class="col-12">
                <!-- Header -->
                <div class="header mb-0">
                    <div class="header-body top-scroller">
                        <div class="row align-items-center">
                            <div class="col">
                                <!-- Title -->
                                <h1 class="header-title text-truncate">
                                    Translations
                                </h1>

                            </div>
                            <div class="col-auto">
                                <!-- Navigation (button group) -->

                                <!-- Buttons -->
                                <button class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#newGroupModal">
                                    Add
                                </button>

                            </div>
                        </div> <!-- / .row -->
                    </div>
                    <div class="card mt-4">
                        <div class="card-body" style="padding: 20px;">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Main</a></li>
                                    <li class="breadcrumb-item active" aria-current="&quot;page&quot;">
                                        Translations
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                    <div class="groups">
                        <div class="card">
                            <!-- <p class="mb-0 ps-4 pt-3">Группы</p> -->
                            <div class="card-body">
                                <div class="links" id="group_links">
                                    <a
                                            th:each="gr : ${groups}"
                                            th:text="${gr.name}"
                                            th:href="@{/admin/translations/groups/{id}(id=${gr.id})}"
                                            th:attr="class=${gr.id == group.id ? 'btn btn-info me-3 group-link' : 'btn btn-info me-3 bg-transparent text-info group-link'}">
                                    </a>
                                </div>
                                <div class="row" style="width: 300px;">
                                    <div class="col-6">
                                        <a th:href="@{/admin/translations/groups/{id}/edit(id=${group.id})}" class="d-flex p-1 mt-4"
                                           style="width: max-content;text-decoration: underline;"><i
                                                class="fe fe-edit-2 d-flex align-items-center justify-content-center"
                                                style="width: 20px;height:20px"></i> редактировать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content -->
                    <div class="card" id="contactsList">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- Form -->
                                    <form method="get">
                                        <div class="d-flex">
                                            <div class="input-group input-group-flush input-group-merge input-group-reverse"
                                                 style="width: 200px;">
                                                <input class="form-control" name="q" type="search" placeholder="Search" th:value="${param.q}"/>
                                                <span class="input-group-text">
                                                    <i class="fe fe-search"></i>
                                                </span>
                                            </div>
                                            <button class="btn btn-primary" type="submit">Искать</button>
                                        </div>
                                    </form>
                                </div>
                            </div> <!-- / .row -->
                        </div>
                        <div class="table-responsive" style="padding: 20px;">
                            <table class="table table-sm table-hover table-nowrap card-table">
                                <thead>
                                <tr>
                                    <th style="width: 30px;">
                                        <a class="list-sort text-muted">№</a>
                                    </th>
                                    <th>
                                        <a class="list-sort text-muted">Ключ</a>
                                    </th>
                                    <th th:each="lang : ${langs}">
                                        <a class="list-sort text-muted" th:text="'Значение(' + ${lang.code} + ')'"></a>
                                    </th>
                                    <th style="width: 200px;"></th>
                                </tr>
                                </thead>
                                <tbody class="list fs-base">
                                <tr th:each="obj : ${objects}">
                                    <td>
                                        <a class="item-title" th:text="${obj.index}" />
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="input-group-text border-0 bg-transparent p-0">
                                                <span class="fe fe-copy" style="cursor: pointer;">
                                                    <span class="text-dark transl-key"
                                                          style="cursor: pointer; outline: none; border:none; font-family: 'Verdana'" th:text="${group.subText} + '.' + ${obj.keyword}"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </td>

                                    <td th:each="lang : ${langs}">
                                        <span class="item-title" th:if="${obj.value.get(lang.code) != null}" th:data-lang="${lang.code}" th:text="${obj.value.get(lang.code)}"></span>
                                        <span class="item-title" th:if="${obj.value.get(lang.code) == null}" th:data-lang="${lang.code}">--</span>
                                    </td>

                                    <td>
                                        <div class="d-flex justify-content-end">
                                            <button type="button" th:data-id="${obj.id}"
                                                    class="btn btn-sm btn-info translation-update-btn" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal"><i class="fe fe-edit-2" style="pointer-events: none;"></i>
                                            </button>

                                            <a class="btn btn-sm btn-danger ms-3"
                                               th:onclick="|var result = confirm('Want to delete?');if (result){event.preventDefault();document.getElementById('delete-form${ obj.id }').submit();}|"><i
                                                    class="fe fe-trash"></i></a>
                                            <form th:action="@{/admin/translations/{id}/delete(id=${obj.id})}" th:id="delete-form + ${ obj.id }" method="post" style="display: none;">
                                                <input type="hidden" th:name="url" th:value="@{/admin/translations/groups/{id}(id=${group.id})}" />
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Content End -->
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabelOne" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content" th:action="@{/admin/translations/}" id="translation-update-form" method="post">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelOne"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="obj_id">
                <input type="hidden" name="group_id">
                <div class="form-group">
                    <!-- Label  -->
                    <label class="form-label">
                        Ключ
                    </label>
                    <br>
                    <!-- Input -->
                    <div class="input-group input-group-merge input-group-reverse mb-3">
                        <input class="form-control" name='keyword' placeholder="Ключ..." type="text"
                               aria-label="Input group reverse" aria-describedby="inputGroupReverse">
                        <div class="input-group-text" id="inputGroupReverse">
                            <span class="item-title" id="group-key-name"></span>
                        </div>
                    </div>
                    <div class="invalid-feedback" id="transl_key_error" style="display:block;">

                    </div>
                </div>

                <div class="form-group" th:each="lang : ${langs}">
                    <!-- Label  -->
                    <label class="form-label" th:text="'Значение (' + ${ lang.code } + ')'"></label>
                    <br>
                    <!-- Input -->
                    <input type="text" th:name="value[__${lang.code}__]" class="form-control"
                           th:placeholder="${ lang.code } + '...'" th:required="${lang.isDefault()}">

                    <div class="invalid-feedback" id="transl_lng_error" style="display:block;" th:if="${lang.isDefault()}"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="newGroupModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content" th:action="@{/admin/translations/groups/create}" id="add_new_group_form" method="post">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="id">
                <div class="form-group">
                    <!-- Label  -->
                    <label class="form-label">
                        Название
                    </label>
                    <br>
                    <input type="text" name="name" class="form-control" placeholder="Заголовок..."
                           required>
                    <div class="invalid-feedback" id="transl_group_title_error"></div>
                    <!-- Input -->
                </div>

                <div class="form-group">
                    <!-- Label  -->
                    <label class="form-label">
                        Субтекст
                    </label>
                    <br>
                    <!-- Input -->
                    <input type="text" name="subText" class="form-control" placeholder="Субтекст..." required>
                    <div class="invalid-feedback" id="transl_group_key_error"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-primary">Создать</button>
            </div>
        </form>
    </div>
</div>


<div th:replace="~{/admin/blocks/scripts::scripts}"></div>
<script th:src="@{/admin/assets/js/add_transl_group.js}"></script>
<script th:src="@{/admin/assets/js/edit_translation.js}"></script>
<script th:src="@{/admin/assets/js/update_translation.js}"></script>

</body>

</html>