<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru" data-bs-theme="auto">

<head th:replace="/admin/blocks/header::adminHead('404')"></head>

<body>

<!-- MAIN CONTENT -->
<div class="row justify-content-center">
    <div class="card col-12 col-md-6 col-xl-4 my-5 p-3">

        <!-- Heading -->
        <h1 class="display-4 text-center mb-3">
            404
        </h1>

        <!-- Subheading -->
        <p class="text-muted text-center mb-4" th:text="${message}" />

        <div class="d-flex justify-content-center">
            <!-- Form -->
            <a class="btn btn-lg btn-primary mb-3" th:href="@{/admin/posts}" style="width: 80%;">
                Go to dashboard
            </a>
        </div>
    </div>
</div>


<div th:replace="/admin/blocks/scripts::scripts"></div>

</body>

</html>